## Deliverable 3. Create a Travel Itinerary Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,West Bay,KY,80.01,broken clouds,19.3667,-81.4167,NaN
1,4,Bathsheba,BB,77.61,broken clouds,13.2167,-59.5167,NaN
2,13,Axim,GH,78.75,scattered clouds,4.8699,-2.2405,NaN
3,19,Rikitea,PF,76.48,light rain,-23.1203,-134.9692,NaN
4,25,Tezu,IN,76.53,broken clouds,27.9167,96.1667,NaN

In [16]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
vacation_df = vacation_df.loc[(vacation_df["Country"] == "MX")]
vacation_df.dropna()

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [19]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [20]:
vacation_df = vacation_df[new_column_order]
vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
6,47,Cabo San Lucas,MX,22.8909,-109.9124,75.51,overcast clouds
82,336,Tecoanapa,MX,16.5167,-98.7500,76.96,clear sky
116,492,Puerto Escondido,MX,15.8500,-97.0667,77.79,clear sky
134,563,Puerto Madero,MX,14.7208,-92.4215,77.29,scattered clouds

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start = float(input("What is your Starting City_ID from MX List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MX List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MX List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from MX List you would like for your trip? "))
end = float(input("What is your Last City_ID from MX List you would like for your trip? "))

What is your Starting City_ID from MX List you would like for your trip? 7
What is your First Stop City_ID from MX List you would like for your trip? 181
What is your Second Stop City_ID from MX List you would like for your trip? 465
What is your Thirth Stop City_ID from MX List you would like for your trip? 258
What is your Last City_ID from MX List you would like for your trip? 498

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start_df ["Lat"].to_numpy()[0], vacation_start_df ["Lng"].to_numpy()[0])
end = (vacation_end ["Lat"].to_numpy()[0], vacation_end ["Lng"].to_numpy()[0])
stop1 = (vacation_stop1 ["Lat"].to_numpy()[0], vacation_stop1 ["Lng"].to_numpy()[0])
stop2 = (vacation_stop2 ["Lat"].to_numpy()[0], vacation_stop2 ["Lng"].to_numpy()[0])
stop3 = (vacation_stop3 ["Lat"].to_numpy()[0], vacation_stop3 ["Lng"].to_numpy()[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (20.7, -105.2)
stop1 = (17.48, -91.43)
stop2 = (27.98, -114.06)
stop3 = (23.17, -97.95)
end = (30.85, -116.07)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_df = pd.concat([vacation_df],ignore_index=True)
vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,47,Cabo San Lucas,MX,22.8909,-109.9124,75.51,overcast clouds
1,336,Tecoanapa,MX,16.5167,-98.7500,76.96,clear sky
2,492,Puerto Escondido,MX,15.8500,-97.0667,77.79,clear sky
3,563,Puerto Madero,MX,14.7208,-92.4215,77.29,scattered clouds

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
city_mark = vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))